{% extends "website/layouts/base.html" %}

<div id="topo"></div>

{% load widget_tweaks %}

{% block title %} Cadastro de Usuário {% endblock %}

{% block conteudo %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Usuário</h5>
                    <p class="card-text">Complete o formulário abaixo para cadastrar um novo <code>USUÁRIO</code>.</p>
                    <form method="post">
                        {% csrf_token %}
                        
                        <!--Nome do Aluno-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nome</span>
                            </div>
                            {% render_field form.nome_aluno class+="form-control" placeholder="Informe o seu nome" %}
                        </div>

                        <!--Cidade-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cidade</span>
                            </div>
                            {% render_field form.cidade_aluno class+="form-control" placeholder="Informe a cidade onde você estuda" %}
                        </div>

                        <!--UF-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">UF</span>
                            </div>
                            {% render_field form.uf_aluno class+="form-control" placeholder="Informe o estado/UF onde você estuda" %}
                        </div>

                        <!--Data de Nascimento
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Data de Nascimento</span>
                            </div>
                            {% render_field form.data_nascimento_aluno class+="form-control" placeholder="Informe a data de nascimento do Aluno" %}
                        </div>-->

                        <!--E-Mail-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">E-Mail</span>
                            </div>
                            {% render_field form.email_aluno class+="form-control" placeholder="Informe o seu endereço eletrônico" %}
                        </div>
                        
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}