<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Rodapé</title>
</head>
<body>
<footer>
<div class="rodape">
    <br>
    <table class="rodape">
        <tr>
            <td class="col1"></td>
            <td colspan="7"><img src="imagens/logo-mochilistas-az-bco.png" class="rodape"></td>
        </tr>
            <td class="col1"></td>
            <td colspan="7"><h3>Curso Programador Web/SENAC 2021 [Equipe 2]<br>Todos os direitos reservados<br></h3></td>
        </tr>
        <tr>
            <td class="col1"></td>
            <td colspan="7"><br><hr><br><h2><a href="contato.html" target="_blank"><img src="imagens/atendimento.png"> Fale conosco </a></h2><br></td>
        </tr>
        <tr>
            <td class="col1"></td>
            <td><a href="mailto:" target="_blank"><img src="imagens/email.png"></a></td>
            <td><a href="https://fb.com" target="_blank"><img src="imagens/facebook.png"></a></td>
            <td><a href="https://linkedin.com" target="_blank"><img src="imagens/Instagram.PNG"></a></td>
            <td><a href="https://instagram.com" target="_blank"><img src="imagens/twitter.png"></a></td>
            <td><a href="https://instagram.com" target="_blank"><img src="imagens/youtube.png"></a></td>
            <td><a href="https://wa.me/" target="_blank"><img src="imagens/WhatsApp.png"></a></td>
            <td><a href="https://wa.me/" target="_blank"><img src="imagens/telegram.png"></a></td>
        </tr>
        <tr><td class="col1"></td>
            <td colspan="7"></td>
        </tr>
    </table>
    <br>
</div>        
</footer>
</body>
</html>
