@charset "utf-8";

body {
    background-color: #d9d6b4;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
aside {
    height: 420px;
    width: 20%;
    padding: 15px;
    margin-left: 920px;
    margin-top: -450px;
    font-style: italic;
    background-color: lightgray;
    text-align: justify;
}
.volta-topo {
    background-color: white;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    text-align: right;
}

.volta-topo img {
    width: 30px;
}

header {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 5px;
}

/*div.secao {
    text-align: center; 
    width: 600px;
}*/

.cabecalho {
    font-family: 'Lobster Two', cursive;
    background-color: #d9d6b4;
    margin: 20px auto; 
}

img#servico {
    /*width: 150px;*/
    height: 100px;
    position: absolute;
    margin: -80px 200px;
    right: 0;
}

h2.mapa-site {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.637);
    margin-left: 180px;
}

.cabecalho h1 {
    background-color: white;
    font-size: 55px;
    color: #1056c7;
    text-shadow: 2px 2px 1px #d9d6b4;
    margin: 0px auto -5px 0;
    padding: 0px 30px;
}

.cabecalho h2 {
    background-color: #1056c7;
    font-size: 20px;
    color: white;
    margin: 0px auto 10px 0;
    padding: 0px 0px;
}

/* MENU HORIZONTAL*/

.menu-top {
    width: 100%;
    position: fixed;
    margin: 0px auto 0;
    top: 0;
    background-color:#1056c7;
    z-index: 1;
}

div.fundo-menu {
    height: 50px;
    width: 1000px;
    margin: -15px auto;
    padding: 5px;
}

.menu ul li {
    color: white;
	float:left;
	width: 161px;
	height: 50px;
	display: block; /*inline-block;*/
	text-align: center;
    line-height: 20px;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue";*/
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    border-top: 3px solid transparent;
}

.menu ul li:hover{
    background-color: white;
    color: goldenrod;
    border-bottom: 5px solid darkslategrey;
    box-shadow: 3px 3px 5px #1056c7; 
    border-radius: 0 0 10px 10px;
    margin-top: 0px;
    line-height: 20px;
}

.menu ul{
    padding: 5px;
}

.menu a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.menu a:hover{
    text-decoration: none;
    color: #1056c7;
}

.cabecalho {
    margin: 0 auto;
    width: 100%;
}

.logo {
    height: 80px;
    position: fixed;
    top: -10px;
    z-index:15;
}

.logo-gr {
    height: 200px;
}

div.logo-br {
    /*background-color: #1056c7;*/
    text-align: center;
    margin-bottom: 50px;
}

div.separador {
    margin: 70px auto;
    width: 100%;
    padding: 0px;
}

/*------------ SLIDER -------------------------*/

* { margin: 0; padding: 0}

.slider div {
    margin: 0 auto;
    width: 100%;
    height: 480px;
    top: 20px;
    padding: 0px;
}
/*
.slider {
    display: block;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: 0 auto;
    height: 400px;
    width: 800px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 5px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    border: 2px solid white;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider li:nth-child(6) label {
    left: 160px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}*/

/* ------------------- SECTION LISTAS */

table.listas {
    width: 700px;
    background-color: #d9d6b4;
    border-collapse: collapse;
    border: 3px solid #fff;
    margin: 50px auto;
}

th {
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue";*/
    font-size: 20px;
    color: #1056c7;
    background-color: white;
    padding: 10px;
    text-align: center;
}

tr {
    border: 1px solid white;
}

tr.listas {
    border: 1px solid transparent;
    background-color: #1056c7;
}

.listas td {
    padding: 10px;
    width: 34%;
    text-align: center;
}

.listas img {
    height: 150px;
}

h1.lista {
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue";*/
    font-size: 30px;
    color: #1056c7;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 20px;
}
h1.tit-texto {
    font-size: 30px;
    background-color:white;
    color: #1056c7;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    padding: 20px;
}


ul.lista {
/*    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue";*/
    font-size: 24px;
    color: #1056c7;
    text-shadow: 1px 1px 1px #d9d6b4;
    margin: 0 50px;
    padding: 10px;
    list-style: none;
}

ul.lista a {
    text-decoration: none;
    padding: 5px;
    list-style: none;
}

.lista a:hover {
    color: #1056c7;
    background-color: white;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 2px 2px 5px black; 
    transition: 0.5s;
    padding: 5px 10px;
}


p.tit-texto {
    background-color: white;
    padding: 20px 50px;
    font-size: 16px;
    text-align: justify;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue";*/
}
#img-secao {
    width: 700px;
    margin: 0 auto;
}
div#secao {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    padding: 5px;
}

img.ico-lista {
    position: absolute;
    margin-left: 600px;
    margin-top: -210px;
    width: 350px;
}

figure {
    /*border: thin #c0c0c0 solid;*/
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 1000px;
    margin: auto;
}

figure p{
    font-size: 12px;
    padding: 10px;
}

.listas figure:hover {
    border: 3px solid #1056c7;
    padding: 3px;
    background-color: #1056c7;
    color: white;
}
figure.item:hover {
    background-color: transparent;
    /*border: thin #c0c0c0 solid;*/
    padding: 5px;
}

fieldset {
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 auto;
    width: 45%;
}

table.formulario {
    padding: 10px;
    margin: 0 5px;
    font-size: 15px;
}

table.enviar {
    margin: 0 auto;
}

input, select, option {
    font-size: 15px;
    height: 22px;
    border-radius: 5px;
}

textarea {
    font-size: 18px;
    border-radius: 5px;
}

td.sexo {
    width: 30%;
}

input.enviar {
    background-color:#1056c7;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

legend {
    color: #1056c7;
    font-size: 18px;
}

footer {
/*    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue";*/
    font-size: 12px;
    background-color: goldenrod;
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    padding: 10px 0;
    

    width: 100%;
    position: fixed;
    margin: 0px auto 0;
    bottom: 0;
    z-index: 5;

}